extends layout

block content
  .row
    form(action="/" method="GET")  
        div.btn-group.my-4(role="group")
            if search
                input(type="hidden" name="search" value=search)
            - for (var x = 1; x < pages+1; x++)
                input.pageBtn(type="submit" name="page" value=x)
  .row
    each pet in pets
      .col-sm-4.justify-content-center
        .card
          img.card-img-top(src=pet.picUrl, alt='Card image cap')
          .card-body
            h4.card-title= pet.name
            small.text-muted= pet.species
            p.card-text= pet.description
            .text-right
                a.card-link(href="/pets/" + pet.id) View #{pet.name}
